<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <ng-container *ngIf="currentUser | async; let currentUser; else loggedOut">
    <a mat-button [routerLink]="['/user', currentUser?.uid, 'entries']">Entries</a>
    <button mat-button (click)="onLogout()" type="button">Log out</button>
  </ng-container>

  <ng-template #loggedOut>
    <a mat-button routerLink="/login">Log in</a>
  </ng-template>
</mat-toolbar>
