<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Mileage Tracker</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

  <ul class="navbar-nav">
    <app-nav-link target="/vehicles">Vehicles</app-nav-link>
    <app-nav-link target="/entries">Entries</app-nav-link>
  </ul>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" #dropdownTrigger data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton" [appDropdown]="dropdownTrigger">
      <ng-template [ngIf]="!currentUser">
        <app-nav-link target="/login">Login</app-nav-link>
        <app-nav-link target="/signup">Signup</app-nav-link>
      </ng-template>
      <ng-template [ngIf]="currentUser">
        <a (click)="onLogout()">Logout</a>
        <app-nav-link target="/vehicles">Vehicles</app-nav-link>
        <app-nav-link target="/entries">Entries</app-nav-link>
      </ng-template>
    </div>
  </div>
</nav>
