<form name="newEntry">
  <div class="input-group">
    <label for="date">Date</label>
    <input class="form-control" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="entry.date" placeholder="YYYY-MM-DD" name="date" id="date" type="text" />
    <button (click)="d.toggle()" class="input-group-addon" [innerHtml]="calendarIcon"></button>
  </div>
  <input [(ngModel)]="entry.gallons" placeholder="gallons" name="gallons" type="number" />
  <input [(ngModel)]="entry.odometer" placeholder="odometer" name="odometer" type="number" />
  <input [(ngModel)]="entry.totalPrice" placeholder="Total Cost" name="totalPrice" type="number" />

  <button type="submit"
          class="btn btn-primary"
          [disabled]="entry.isEmpty()"
          (click)="createEntry()">Add Entry</button>
</form>
