<form name="newEntry">
  <input [(ngModel)]="entry.date" placeholder="date" name="date" type="text" />
  <input [(ngModel)]="entry.gallons" placeholder="gallons" name="gallons" type="number" />
  <input [(ngModel)]="entry.odometer" placeholder="odometer" name="odometer" type="number" />
  <input [(ngModel)]="entry.totalPrice" placeholder="Total Cost" name="totalPrice" type="number" />

  <button type="submit"
          class="btn btn-primary"
          [disabled]="entry.isEmpty()"
          (click)="createEntry()">Add Entry</button>
</form>
