<mat-card>
  <form (submit)="createEntry(entry)">
    <mat-card-title>New Entry</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput [(ngModel)]="entry.date" [matDatepicker]="entryDate" name="date" placeholder="Date" required>
        <mat-datepicker-toggle matSuffix [for]="entryDate"></mat-datepicker-toggle>
        <mat-datepicker #entryDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="entry.gallons" name="gallons" type="number" placeholder="Gallons" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="entry.odometer" name="odometer" type="number" placeholder="Odometer" required/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="entry.totalPrice" name="totalPrice" type="number" placeholder="Total Cost" required/>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="..">Cancel</a>
      <button mat-button color="primary" type="submit">Save</button>
    </mat-card-actions>
  </form>
</mat-card>

<!-- <form name="newEntry" (submit)="createEntry(entry)">
  <div class="form-group">
    <input matInput [matDatepicker]="myDatepicker"         []="entry.date"    >
    <mat-datepicker #myDatepicker></mat-datepicker>
  </div>
  <div class="form-group">
    <label for="gallons">Gallons</label>
    <input class="form-control" [(ngModel)]="entry.gallons" name="gallons" id="gallons" type="number" />
  </div>
  <div class="form-group">
    <label for="odometer">Odometer</label>
    <input class="form-control" [(ngModel)]="entry.odometer" name="odometer" id="odometer" type="number" />
  </div>
  <div class="form-group">
    <label for="totalPrice">Total Cost</label>
    <input class="form-control" [(ngModel)]="entry.totalPrice" name="totalPrice" id="totalPrice" type="number" />
  </div>

  <button type="submit" class="btn btn-primary">Add Entry</button>
</form> -->
